<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753431867303-u8iqcfuh1p13b7f1etf2bh62k12rvfe4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753431867303-u8iqcfuh1p13b7f1etf2bh62k12rvfe4</string>
	<key>API_KEY</key>
	<string>AIzaSyBcrBemeUP9GsYE9wZmk0dHtaiER4Gw4Ns</string>
	<key>GCM_SENDER_ID</key>
	<string>753431867303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GROSSON.XellissimeBook</string>
	<key>PROJECT_ID</key>
	<string>xellissimebook</string>
	<key>STORAGE_BUCKET</key>
	<string>xellissimebook.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:753431867303:ios:ada49ab8146d5de0</string>
	<key>DATABASE_URL</key>
	<string>https://xellissimebook.firebaseio.com</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>FirebaseScreenReportingEnabled</key>
	<false/>
</dict>
</plist>
